<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div id="showcase">
      <h1>About The Peerless Study</h1>
    </div>
    <section class="container">
      <div class="container-l">
        <p class="bold">
          The Peerless Study is designed to help companies understand the
          optimal expectations of their associates and customers, by uncovering
          “disappointment gaps” and dramatically improving culture, associate
          engagement, internal and marketing communications and sales strategies
          to deliver game-changing financial results.
        </p>
        <p class="content">
          This scientific and in-depth process of collecting emotional and
          cognitive data provides actionable, straightforward insights for
          improving the performance of companies. Based on the findings Peerless
          Performance will help you design a strategy to leverage best practices
          and best-in-class solutions. Our shared purpose is to drive, reward
          and recognize change all in alignment with core values and company
          mission…the engineering of your culture.
        </p>
        <img
          class="content-p"
          src="css/img/AdobeStock_145800839-1024x609.jpeg"
        />
        <p class="bold">Benefits for Associates</p>
        <ul class="ul">
          <li>
            Every associate will have a voice as The Study is completely
            confidential and password protected.
          </li>
          <li>
            Objectively gauge your own emotional wellbeing at work and your
            ability to succeed.
          </li>
          <li>Explore and assess the reasons for any disappointments.</li>
          <li>Monitor your personal willingness to excel.</li>
          <li>Identify “the why” you come to work.</li>
        </ul>
        <p class="bold">Benefits for Management</p>
        <ul class="ul">
          <li>Track your organization’s readiness to achieve goals.</li>
          <li>
            Gauge the collective state of feelings about each organizational
            attribute, as well as the desired state.
          </li>
          <li>
            Understand and monitor the willingness of associates to maximize
            performance.
          </li>
          <li>
            Identify areas of disappointment or obstacles to success and ways to
            drive, reward and recognize change all in alignment with your core
            values and company mission.
          </li>
        </ul>
      </div>
      <div class="container-r">
        <img
          class="content-p"
          src="css/img/AdobeStock_107936928-1024x690.jpeg"
        />
        <p class="bold">The Process</p>
        <p class="content">
          The Peerless Study provides organizations and associates a means of
          assessing the emotions, feelings and thinking that drive the actions
          needed to achieve success. Peerless Performance research and
          experience are focused on the workplace of the future, its
          generational mix, the interdependencies of its knowledgebase and how
          employee emotions drive not only the corporate culture but increase
          productivity, profitability and community.<br /><br />

          &nbsp &nbsp The online Peerless Study transcends traditional
          engagement surveys by precisely identifying not only how employees
          feel about key organizational attributes, but how they would like to
          feel. This unique online approach helps the Peerless Performance
          design team construct highly targeted strategies needed to address
          your specific challenges and opportunities, from culture engineering,
          leadership coaching and recruitment to communication, process design
          and compliance, learning, brand and product innovation, rewards,
          recognition, incentive travel and more.<br /><br />

          &nbsp &nbsp Unlike other assessment tools, the online Peerless Study
          specifically looks at how people feel and more precisely how they wish
          to feel about their personal status in the organization, work-life
          balance, sense of purpose, wellness, the organizational mission, value
          alignment, work environment and management support.
        </p>
      </div>
    </section>
  </body>
</html>
