<nav id="navbar" class="nav-shadow">
  <h1 class="logo">
    <img src="css/img/logo.png" alt="peerless" width="100px" />
  </h1>
  <ul>
    <li class=""><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/takeStudy">Take The Study</a></li>
    <li><a href="/adashboard">Associate Dashboard</a></li>
    <li><a href="/mdashboard">Management Dashboard</a></li>
    <li><a href="/contact">Contact</a></li>
    <li>
      <% if (isLoggedIn) { %>
        <a href="/logout">Logout</a>
      <% }else { %>
      <a href="/login">Login</a>
      <% } %>
    </li>
  </ul>
</nav>
