<div class="flip">
    <div class="flip-flex">
        <a href="takeStudy" class="flip-number page-1">1</a>
        <a href="takeStudy_2" class="flip-number page-2">2</a>
        <a href="takeStudy_3" class="flip-number page-3">3</a>
        <a href="takeStudy_4" class="flip-number page-4">4</a>
    </div>
</div>