/* notice */
#notice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#notice .box{
    background: #879860;
    padding: 14px 14px 14px 56px;
    margin: 20px 15px 15px 15px;
    border-radius: 10px;
    color: #fff;
    width: 100%;
}

/* chart */
#chart-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart-nav .box{
    width: 1000px;
    margin-top: 2rem;
    border-radius: 10px;
    color: #fff;
}

#chart-nav ul{
    list-style: none;
}

#chart-nav ul li{
    display: inline-block;
    position: relative;
}

/* #chart-nav ul li ul{
    display: none;
} */
.graph-container {
    display: flex;
    justify-content: space-between;
}

.content-1{
    width: 100%;
}
.content-2{
    width: 100%;
}

.button{
    border-radius: 5px;
    border: 1px solid #999999;
    background: #999999;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

/* content */
#notice-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

#notice-p .box{
    max-width: 1200px;
}

#notice-p h2{
    font-size: 20px;
}

#notice-p p{
    font-size: 17px;
}
.chartBox {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(200, 199, 199);
    background: white;
}